<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gatech.financialapplication"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.gatech.financialapplication.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.gatech.financialapplication.RegisterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.gatech.financialapplication.AccountCreationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.gatech.financialapplication.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.gatech.financialapplication.HateMaxActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.gatech.financialapplication.MainActivity"
            android:label="@string/mainTitle" />

        <receiver
            android:name="edu.gatech.financialapplication.LoginResultReceiver"
            android:enabled="true" />

        <service
            android:name="edu.gatech.financialapplication.LoginChecker"
            android:enabled="true" />

        <activity
            android:name="edu.gatech.financialapplication.TransactionActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.gatech.financialapplication.WithdrawalActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.gatech.financialapplication.DepositActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.gatech.financialapplication.ReportsActivity"
            android:label="@string/title_activity_reports" >
        </activity>
        <activity
            android:name="edu.gatech.financialapplication.ConsumerSpendingActivity"
            android:label="@string/title_activity_consumer_spending" >
        </activity>
        <activity
            android:name="edu.gatech.financialapplication.ReportDateActivity"
            android:label="@string/title_activity_report_date" >
        </activity>
    </application>

</manifest>
